<!DOCTYPE html>
html lang="en"
  head

    = partial "structures/meta"
    = stylesheet_link_tag "application"

    body
      = yield

      = javascript_include_tag "application"
      = yield_content(:javascripts)
      javascript:
        WebFontConfig = {
          google: { families: [ "Open+Sans:300,400,600","Open+Sans+Condensed:700" ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
