
$primary: #0C304A;

$text: #6D8393;
$text-dark: $primary;

$bg-dark: #f9f9f9;


$font-family-sans-serif: 'Open Sans', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$headings-font-family: 'Open Sans Condensed', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: 700;

$font-weight-bold: 600;
