html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}


svg{
  fill: currentColor;
}



.title-light{
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;
}


.divider{
  height: 300px;
  width: 1px;
  background-color: $border-color;
  position: relative;
  display: block;
  margin-left:auto;
  margin-right:auto;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    border-radius: 50px;
    width: 21px;
    height: 21px;
    left:50%;
    margin-left: -10.5px;
    border: 4px solid $border-color;
    background: $primary;
  }
}

.text-dark{
  color: $primary;
}

@media (max-width: 768px) {
  .title-light{
    font-size: 20px;
    font-weight: $font-weight-bold;
  }
}
